<Loading *ngIf="isFetching"></Loading>
<StackLayout orientation="vertical" id="profile-container">
    <PageContainer *ngIf="!isFetching" pageTitle="Perfil">
        <StackLayout orientation="vertical">
            
            <StackLayout id="info-user-container">
                <Label id="info-user-title" text="Información de usuario"></Label>
                
                <FlexboxLayout id="image-container" alignItems="center" (tap)="takeSelfie()"
                    justifyContent="center" [style.background-image]=" selfiePath ? selfiePath : '~/images/logo.png' " >
                    <!--<Image src="{{selfiePath}}" 
                        id="pic-container"  ></Image>-->
                </FlexboxLayout>
                <Image src="~/images/logo.png" width="30%" height="30%" id="logo"></Image>
            </StackLayout>

            <!--
            <StackLayout id="stadistics-container">
                <StackLayout orientation="horizontal">
                    <StackLayout orientation="vertical" class="info-container">
                        <Label text="X" class="counter"></Label>
                        <Label class="counter-detail" text="Número de citas atendidas"></Label>
                    </StackLayout>
                    <StackLayout orientation="vertical" class="info-container">
                        <Label text="X" class="counter"></Label>
                        <Label class="counter-detail" text="Número de citas por atender"></Label>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
            -->

            <StackLayout  *ngIf=" userData && userData.isAdmin === false " (tap)="registerActivity()" class="options-container">
               
                <Label text="Registrar entrada / salida" class="button-text"></Label>
                                
            </StackLayout>

            
            <StackLayout *ngIf=" userData && userData.isAdmin === false " (tap)="seeActiveEvents()" class="options-container">
               
                <Label text="Ver eventos activos" class="button-text"></Label>
                            
            </StackLayout>         

        </StackLayout>

        <!--
        <ListView *ngIf=" showingListPicker === true "
             [items]="items" (itemTap)="onItemTap($event)" class="list-group">
            <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                <GridLayout>
                    <Label [text]="item.name" class="list-group-item"></Label>
                </GridLayout>
            </ng-template>
        </ListView>
        -->

    </PageContainer>
</StackLayout>
