<Loading *ngIf="isFetching"></Loading>
<StackLayout *ngIf="!isFetching" orientation="vertical">
    <PageContainer pageTitle="Fotos"></PageContainer>
    <TabView androidTabsPosition="bottom" tabBackgroundColor="#003057"
        androidSelectedTabHighlightColor="#004857">
        <ScrollView orientation="vertical" height="100%" *tabItem="{title: 'Imagenes Vehículo'}"
        style="background-color:#224A50">
          <StackLayout >
                
              <!--<Button *ngIf = " frontCameraImage && leftCameraImage && rightCameraImage
                && backCameraImage "  text="Guardar Imagenes" (tap)="sendPics()"></Button>-->

              <Button *ngIf = " mode == 2  " text="Mostrar imagenes de entrega" (tap)="showPics()"></Button>

              <FlexboxLayout class="button-item" alignItems="center"
                  justifyContent="space-between">
                  <Image *ngIf="frontCameraImage" class="images_app" [src]="frontCameraImage" (doubleTap)="verifyThisImage(frontCameraImage)"  ></Image>
                  <Image *ngIf="!frontCameraImage" (tap)="onTakePictureTap($event,'frontCameraImage')" src="~/images/icons/instagram.png" width="30%" height="30%"
                      class="pic-icon"></Image>
                  <Label (tap)="onTakePictureTap($event,'frontCameraImage')" class="button-label" text="FRONTAL"></Label>
                  <Image (tap)="onTakePictureTap($event,'frontCameraImage')"  class="car-icon" src="~/images/icons/frontSide.png"></Image>
              </FlexboxLayout>

              <Image *ngIf = " mode == 2 && showPictures " class="car-icon image-taken"
               [src]="prevFrontImage" decodeWidth="40" decodeWidth="40" loadMode="async"
               (doubleTap)="verifyThisImage(prevFrontImage)"
               ></Image>

              <FlexboxLayout class="button-item" alignItems="center"
                  justifyContent="space-between">
                  <Image *ngIf="leftCameraImage" [src]="leftCameraImage" (doubleTap)="verifyThisImage(leftCameraImage)"  ></Image>
                  <Image *ngIf="!leftCameraImage" (tap)="onTakePictureTap($event,'leftCameraImage')" src="~/images/icons/instagram.png" width="30%" height="30%"
                      class="pic-icon"></Image>
                  <Label class="button-label" (tap)="onTakePictureTap($event,'leftCameraImage')" text="IZQUIERDA"></Label>
                  <Image class="car-icon" (tap)="onTakePictureTap($event,'leftCameraImage')" src="~/images/icons/leftSide.png"></Image>
              </FlexboxLayout>

              <Image *ngIf = " mode == 2 && showPictures  " class="car-icon image-taken"
               [src]="this.prevLeftImage" loadMode="async" decodeWidth="40" decodeWidth="40"
               (doubleTap)="verifyThisImage(this.prevLeftImage)"></Image>

              <FlexboxLayout class="button-item" alignItems="center"
                  justifyContent="space-between" >
                  <Image *ngIf="rightCameraImage" [src]="rightCameraImage" (doubleTap)="verifyThisImage(rightCameraImage)"  ></Image>
                  <Image *ngIf="!rightCameraImage" (tap)="onTakePictureTap($event,'rightCameraImage')" src="~/images/icons/instagram.png" width="30%" height="30%"
                      class="pic-icon"></Image>
                  <Label class="button-label" (tap)="onTakePictureTap($event,'rightCameraImage')" text="DERECHA"></Label>
                  <Image class="car-icon"  (tap)="onTakePictureTap($event,'rightCameraImage')" src="~/images/icons/rightSide.png"></Image>
              </FlexboxLayout>

              <Image *ngIf = " mode == 2 && showPictures  "  [hidden] = "showPictures == false" class="car-icon image-taken"
               [src]="prevRightImage" loadMode="async" decodeWidth="40" decodeWidth="40"
              (doubleTap)="verifyThisImage(prevRightImage)"
               ></Image>

              <FlexboxLayout class="button-item" alignItems="center"
                  justifyContent="space-between" >
                  <Image *ngIf="backCameraImage" [src]="backCameraImage" (doubleTap)="verifyThisImage(backCameraImage)"  ></Image>
                  <Image *ngIf="!backCameraImage" (tap)="onTakePictureTap($event,'backCameraImage')" src="~/images/icons/instagram.png" width="30%" height="30%"
                      class="pic-icon"></Image>
                  <Label class="button-label" (tap)="onTakePictureTap($event,'backCameraImage')" text="TRASERA"></Label>
                  <Image class="car-icon" (tap)="onTakePictureTap($event,'backCameraImage')" src="~/images/icons/backSide.png"></Image>
              </FlexboxLayout>

              <Image *ngIf = " mode == 2 && showPictures  "  [hidden] = "showPictures == false" class="car-icon image-taken"
               [src]="prevBackImage" loadMode="async" decodeWidth="40" decodeWidth="40"
               (doubleTap)="verifyThisImage(prevBackImage)"
               ></Image>

              <FlexboxLayout class="button-item" alignItems="center"
                  justifyContent="space-between">
                  <Image *ngIf="odometerCameraImage" [src]="odometerCameraImage" (doubleTap)="verifyThisImage(odometerCameraImage)"  ></Image>
                  <Image *ngIf="!odometerCameraImage" (tap)="onTakePictureTap($event,'odometerCameraImage')" src="~/images/icons/instagram.png" width="30%" height="30%"
                      class="pic-icon"></Image>
                  <Label class="button-label" (tap)="onTakePictureTap($event,'odometerCameraImage')" text="ODOMETRO"></Label>
                  <Image class="car-icon" (tap)="onTakePictureTap($event,'odometerCameraImage')" src="~/images/icons/odometer.png"></Image>
              </FlexboxLayout>

              <Image *ngIf = " mode == 2 && showPictures  "  [hidden] = "showPictures == false" class="car-icon image-taken"
              [src]="prevOdometerImage"  loadMode="async" decodeWidth="40" decodeWidth="40"
              (doubleTap)="verifyThisImage(prevOdometerImage)"></Image>

            </StackLayout>
          </ScrollView>
          <ScrollView orientation="vertical" height="100%" *tabItem="{title: 'Imagenes Documentos'}"
           style="background-color:#224A50">
            <StackLayout>

              <FlexboxLayout *ngIf = " mode == 1 " class="button-item" alignItems="center"
                  justifyContent="space-between" >
                  <Image *ngIf="contractImage" [src]="contractImage" (doubleTap)="verifyThisImage(contractImage)"  >
                  </Image>
                  <Image *ngIf="!contractImage" (tap)="onTakePictureTap($event,'contractImage')" src="~/images/icons/instagram.png" width="30%" height="30%"
                      class="pic-icon"></Image>
                  <Label class="button-label" (tap)="onTakePictureTap($event,'contractImage')" text="CONTRATO"></Label>
                  <Image class="car-icon" (tap)="onTakePictureTap($event,'contractImage')" src="~/images/icons/document.jpg"></Image>
              </FlexboxLayout>

              <FlexboxLayout class="button-item" alignItems="center"
                  justifyContent="space-between" >
                  <Image *ngIf="checkCameraImage" [src]="checkCameraImage" (doubleTap)="verifyThisImage(checkCameraImage)"  ></Image>
                  <Image *ngIf="!checkCameraImage" (tap)="onTakePictureTap($event,'checkCameraImage')" src="~/images/icons/instagram.png" width="30%" height="30%"
                      class="pic-icon"></Image>
                  <Label class="button-label" (tap)="onTakePictureTap($event,'checkCameraImage')" text="LISTA CHEQUEO"></Label>
                  <Image class="car-icon" (tap)="onTakePictureTap($event,'checkCameraImage')" src="~/images/icons/document.jpg"></Image>
              </FlexboxLayout>

              <FlexboxLayout class="button-item" alignItems="center"
                  justifyContent="space-between" >
                  <Image *ngIf="inventoryCameraImage" [src]="inventoryCameraImage" (doubleTap)="verifyThisImage(inventoryCameraImage)"  ></Image>
                  <Image *ngIf="!inventoryCameraImage" (tap)="onTakePictureTap($event,'inventoryCameraImage')" src="~/images/icons/instagram.png" width="30%" height="30%"
                      class="pic-icon"></Image>
                  <Label class="button-label" (tap)="onTakePictureTap($event,'inventoryCameraImage')" text="INVENTARIO"></Label>
                  <Image class="car-icon" (tap)="onTakePictureTap($event,'inventoryCameraImage')" src="~/images/icons/document.jpg"></Image>
              </FlexboxLayout>     
              
              <FlexboxLayout class="button-item" alignItems="center"
                  justifyContent="space-between">
                  <Image *ngIf="aditional1Image" [src]="aditional1Image" (doubleTap)="verifyThisImage(aditional1Image)"  ></Image>
                  <Image *ngIf="!aditional1Image" (tap)="onTakePictureTap($event,'aditional1Image')" src="~/images/icons/instagram.png" width="30%" height="30%"
                      class="pic-icon"></Image>
                  <Label class="button-label" (tap)="onTakePictureTap($event,'aditional1Image')" text="ADICIONAL"></Label>
                  <Image class="car-icon" (tap)="onTakePictureTap($event,'aditional1Image')" src="~/images/icons/lupa.png"></Image>
              </FlexboxLayout>

              <FlexboxLayout class="button-item" alignItems="center"
                  justifyContent="space-between">
                  <Image *ngIf="aditional2Image" [src]="aditional2Image" (doubleTap)="verifyThisImage(aditional2Image)"  ></Image>
                  <Image *ngIf="!aditional2Image" (tap)="onTakePictureTap($event,'aditional2Image')" src="~/images/icons/instagram.png" width="30%" height="30%"
                      class="pic-icon"></Image>
                  <Label class="button-label" (tap)="onTakePictureTap($event,'aditional2Image')" text="ADICIONAL 2"></Label>
                  <Image class="car-icon" (tap)="onTakePictureTap($event,'aditional2Image')" src="~/images/icons/lupa.png"></Image>
              </FlexboxLayout>

              <Button text="GUARDAR IMAGENES" class="button-option" (tap)="saveImages()" ></Button>

              <Button *ngIf="isDelivery" text="KILOMETRAJE DOMICILIO" class="button-option" (tap)="registerAditionalKilometers()" ></Button>

              <Button text="KILOMETRAJE SERVICIO" class="button-option" (tap)="registerKilometers()" ></Button>             

              <!--<Button text="REALIZAR ENCUESTA" class="button-option" (tap)="makeSurvey()" isEnabled="false" ></Button>

              <Button text="REALIZAR ACTA ENTREGA" class="button-option" (tap)="makeAct()" isEnabled="false" ></Button>
              -->
              <!--
              <Image *ngIf = " mode == 2  && showPictures " class="car-icon image-taken"
               src="https://app.aoacolombia.com/Control/operativo/siniestro/185/1850715/15677007113374671192359385952227.jpg"></Image>
               -->

               <Button *ngIf = " mode == 2  " text="Asignar estado" (tap)="assignState()"></Button>

            </StackLayout>
          </ScrollView>
    </TabView>
</StackLayout>
