<Loading *ngIf="isFetching"></Loading>
<StackLayout *ngIf="!isFetching" orientation="vertical" id="page-container">
     
    <ScrollView orientation="vertical" height="100%">
        <PageContainer pageTitle="{{TabTitle}}">
            
        
                <StackLayout height="100%" *ngIf="mode === 'survey' ">

                    <StackLayout *ngFor="let question of surveys ; index as i;"  class="question-container">
                        <StackLayout orientation="horizontal" height="75"> 
                            
                            <Label text="{{i+1}}. " class="questionIndex" verticalAlignment="center"></Label>
                            <Label textWrap="true" width="90%" text="{{ question.question }}"
                                        verticalAlignment="center"></Label>

                        </StackLayout>
                        <ListPicker [items]="question.answers" class="picker"></ListPicker>
                    
                    </StackLayout>                  

                    <button text="GUARDAR"></button>
                    
                </StackLayout>             
                

                <StackLayout height="100%" *ngIf="mode === 'act' ">                            

                        <StackLayout *ngFor="let act of acts ; index as i;"  class="question-container">
                            <StackLayout orientation="horizontal" height="55"> 
                                
                                <Label text="{{i+1}}. " class="questionIndex" verticalAlignment="center"></Label>
                                <Label textWrap="true" width="50%" text="{{act}}" verticalAlignment="center"></Label>

                                <CheckBox #CB1 text="Si"  boxType="circle" checked="false"></CheckBox>
                                <CheckBox #CB2 text="No"  boxType="circle" checked="false"></CheckBox>

                            </StackLayout>
                        
                        </StackLayout>
                        
                        <button text="PROCEDER A IMAGEN" (tap)="editPicture()" ></button> 

                        <button text="GUARDAR"></button>                

                </StackLayout>     
         

        </PageContainer>

    </ScrollView>

 
</StackLayout>
