#page-container{
    background-color:#003057;
    height: 100%;
}

.question-container{
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;  
    border-radius: 5dp;
    margin-top: 25dp;
}

.question{
    min-height: 35dp;    
}

.questionIndex{
    font-weight: bold;
    color: black;
    margin-left: 5dp;
}

.picker {
    background-color:#F0EEEE;
    color: black;
    height: 100;
    widows: 80%;    
    vertical-align: middle;
}

#button{
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5dp;
    margin-top: 20dp;
    margin-bottom: 20dp;
    background-color: #004605;
    color: white;
}

.list-group{
    margin: 5%;
    height: 100%;
}

.survey-container{
   height: 100%;
}